{% extends "PixelBlogBundle::layout.html.twig" %}
 
<h1> Bienvenue sur mon blog </h1>

{% block title %} Acceuil - {{ parent() }}  {% endblock %}
    
{% block body %}
     {% for article in listeArticles %}
        <article>
            <h3> {{ article.titre }} </h3>
            <p>  {{ article.content }} </p>
        </article>
    {% endfor %}
{% endblock %}
